#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.class
*.properties
*.jar
*.dylib


/5.OnlineInternship/
/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
